.footer {
  text-align: center;
  padding: 5rem 0 0 0;
  background-image: url('../../../public/images/Background.png');
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h3{
    font-size: 1rem;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--white-100);
    margin-top: 1rem;
  }

  .location {
    color: var(--orangeText);
  }

  .icon {
    margin-top: 1rem;
    margin-left: 2rem;
    color: var(--admonition-warning);
    width: 30px;
    height: 30px;
  }

  .rights {
    background: #0000007e;
    margin-top: 3rem;
  }

  p{
    color: #fff;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1rem;
  }
}
