.body {
  background: linear-gradient(var(--purple) 0%, var(--violet) 33.33%, var(--purple) 66.67%, #01080E 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    background-image: url("../../../public/images/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
}

.containerGame {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #1875E8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("../../../public/images/Ruido.png");
  background-size: 100% 100%;
  position: relative;
}

.containerConteudo {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.containerInformacoes {
  flex: 1;
  padding: 3rem;
}

.containerTexto {
  margin: 16px 0 16px 0;

  h1 {
    font-family: 'Chango', sans-serif;
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--blueText);
    text-shadow: 1px 3px 2px #000000;
  }

  p {
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--white-100);
    text-shadow: 1px 3px 2px #000000;
  }
}

.containerBotoes {
  display: flex;
  flex-direction: column;
}

.containerBotao {
  border-radius: 16px;
  background: #7840fce1;
  color: var(--white-100);
  text-shadow: 2px 1px 2px #000000;
  box-shadow: 0px 0px 6px 2px #e2e1e4e1;
  padding: 16px 24px;
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  border: none;
  margin-top: 2rem;

  cursor: pointer;

  &:hover {
    background: var(--violet);
  }

  &:disabled {
    background-color: var(--gray-50);
    color: #7840fce1;
  }
}

.containerInput {
  width: 70%;
  height: 72px;
  border-radius: 16px;
  background-color: #FFF;
  border: none;
  color: var(--blueText);
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
}

.additionalNumber {
  margin-top: 2rem;
  border-top: 1px solid var(--blueText);
  padding-top: 1rem;

  h2 {
    font-family: 'Chango', sans-serif;
    color: var(--yellowText);
    text-shadow: 1px 3px 2px #000000;
  }

  p {
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--white-100);
    text-shadow: 1px 3px 2px #000000;
    margin: 1rem 0;
  }
  
  input {
    width: 30%;
    height: 30px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: var(--blueText);
    padding: 1rem;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
  }

  button {
    border-radius: 5px;
    background: var(--blueText);
    color: var(--white-100);
    text-shadow: 1px 1px 1px #00000046;
    box-shadow: 0px 0px 6px 2px #e2e1e4e1;
    padding: .35rem;
    font-weight: 700;
    border: none;
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      background: #041832;
    }
  }
}

.return a {
  margin-left: 1rem;
  :hover{
    background-color: #e2e1e4e1;
    border-radius: 16px;
  }
}

@media(max-width: 640px) {
  .body{
    .containerConteudo {
      flex-direction: column;
    }

    .containerInformacoes {
      padding: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .containerTexto {
      h1, p {
        font-size: 16px;
      }
    }
    
    .containerInput {
      width: 60%;
      padding: 1rem;
      font-size: 16px;
    }

    .containerBotoes {
      align-items: center;
      button {
        font-size: 14px;
        width: 100%;
      }
    }

    .additionalNumber {
      h2, p {
        font-size: 16px;
      }

      input, button {
        font-size: 14px;
      }
    }
  
    img {
      display: none;
    }
  }
}